* {
  margin: 0px;
  padding: 0px; }

#shadow-load {
  display: block;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  animation: load-page 1000ms ease-in forwards; }

#landing-page {
  width: 100%;
  height: 100vh;
  background-color: #596275; }
  #landing-page #nav-logo-bar {
    height: 10vh;
    display: flex;
    align-items: center; }
  #landing-page #nav-bar {
    z-index: 2;
    width: 590px;
    margin-left: 40px;
    padding-left: 20px;
    background-color: #596275;
    font-size: 15px;
    animation: originalNav 800ms ease-in-out forwards; }
    #landing-page #nav-bar.scroll-nav {
      margin-top: -48px;
      position: fixed;
      height: 40px;
      animation: scrollNav 900ms ease-in-out forwards; }
    #landing-page #nav-bar .nav-icon {
      color: #fff; }
    #landing-page #nav-bar #nav-title {
      color: #fff;
      display: inline-block;
      margin-right: 22px;
      font-size: 22px; }
    #landing-page #nav-bar a {
      color: #fff;
      margin-right: 14px;
      text-decoration: none;
      transition: all 300ms ease-in-out; }
    #landing-page #nav-bar a:hover {
      color: #45aaf2; }
  #landing-page #main-title-row {
    margin-top: 32vh; }
    #landing-page #main-title-row #main-title {
      transform: scale(0.7) translateY(35px);
      color: #fff; }
      #landing-page #main-title-row #main-title.main-title {
        animation: mainTitle 300ms ease-in forwards; }
    #landing-page #main-title-row #title-description {
      color: #d1d8e0; }

/* About & Services Page */
#about-page {
  width: 100%;
  height: 80vh;
  background-color: #93A2C1; }
  #about-page #about-descript {
    margin-top: 50px; }
  #about-page #about-images {
    margin-top: 50px;
    padding: 20px 20px; }
    #about-page #about-images img {
      margin-bottom: 20px; }

/* Catalog Items Page */
#catalog-items {
  width: 100%;
  height: 100vh;
  background-color: #40598C; }
  #catalog-items #catalog-items-1 {
    display: none; }
    #catalog-items #catalog-items-1.active {
      display: flex; }
    #catalog-items #catalog-items-1.show {
      display: flex;
      animation: catalog1 500ms ease-in forwards; }
    #catalog-items #catalog-items-1 .arrow-wrap {
      display: flex;
      align-items: center;
      justify-content: center; }
      #catalog-items #catalog-items-1 .arrow-wrap .catalog-arr-btn {
        height: 50px;
        width: 50px;
        color: #23304C;
        cursor: pointer;
        transition: all 300ms ease-in-out; }
        #catalog-items #catalog-items-1 .arrow-wrap .catalog-arr-btn:hover {
          transform: scale(1.1); }
  #catalog-items #catalog-items-2 {
    display: none; }
    #catalog-items #catalog-items-2.show {
      display: flex;
      animation: catalog2 500ms ease-in forwards; }
    #catalog-items #catalog-items-2 .arrow-wrap {
      display: flex;
      align-items: center;
      justify-content: center; }
      #catalog-items #catalog-items-2 .arrow-wrap .catalog-arr-btn2 {
        height: 50px;
        width: 50px;
        color: #23304C;
        cursor: pointer;
        transition: all 300ms ease-in-out; }
        #catalog-items #catalog-items-2 .arrow-wrap .catalog-arr-btn2:hover {
          transform: scale(1.1); }
  #catalog-items #catalog-items-3 {
    display: none; }
    #catalog-items #catalog-items-3.active {
      display: flex; }
    #catalog-items #catalog-items-3.show {
      display: flex;
      animation: catalog2 500ms ease-in forwards; }
    #catalog-items #catalog-items-3 .arrow-wrap {
      display: flex;
      align-items: center;
      justify-content: center; }
      #catalog-items #catalog-items-3 .arrow-wrap .catalog-arr-btn3 {
        height: 50px;
        width: 50px;
        color: #23304C;
        cursor: pointer;
        transition: all 300ms ease-in-out; }
        #catalog-items #catalog-items-3 .arrow-wrap .catalog-arr-btn3:hover {
          transform: scale(1.1); }
  #catalog-items #catalog-items-4 {
    display: none; }
    #catalog-items #catalog-items-4.show {
      display: flex;
      animation: catalog1 500ms ease-in forwards; }
      #catalog-items #catalog-items-4.show .arrow-wrap {
        display: flex;
        align-items: center;
        justify-content: center; }
        #catalog-items #catalog-items-4.show .arrow-wrap .catalog-arr-btn4 {
          height: 50px;
          width: 50px;
          color: #23304C;
          cursor: pointer;
          transition: all 300ms ease-in-out; }
          #catalog-items #catalog-items-4.show .arrow-wrap .catalog-arr-btn4:hover {
            transform: scale(1.1); }
  #catalog-items #catalog-items-1, #catalog-items #catalog-items-2, #catalog-items #catalog-items-3, #catalog-items #catalog-items-4 {
    margin-top: 100px; }

/* Contact Us Page */
#contact {
  width: 100%;
  height: 60vh;
  background-color: #323742; }

#footer-info {
  width: 100%;
  height: 20vh;
  background-color: #596275; }

#about-page, #catalog-items, #contact {
  padding-top: 30px; }

.subheader {
  color: #fff; }

/* Animations */
@keyframes load-page {
  0% {
    opacity: 0.7; }
  100% {
    opacity: 0; } }
@keyframes originalNav {
  0% {
    opacity: 0;
    transform: scaleY(0.5); }
  30% {
    background-color: #21252B; }
  50% {
    opacity: 0.7;
    background-color: #252930;
    transform: scaleY(1); }
  80% {
    background-color: #515A6B; }
  100% {
    opacity: 1; } }
@keyframes scrollNav {
  0% {
    opacity: 0;
    transform: scaleY(0.5); }
  30% {
    background-color: #515A6B; }
  50% {
    opacity: 0.7;
    background-color: #515A6B;
    transform: scaleY(1); }
  70% {
    background-color: #252930; }
  90% {
    background-color: #21252B; }
  100% {
    opacity: 1;
    background-color: #23282E; } }
@keyframes mainTitle {
  0% {
    transform: scale(0.7) translateY(35px);
    opacity: 0.5; }
  30% {
    transform: scale(0.8) translateY(25px);
    opacity: 0.6; }
  70% {
    transform: scale(0.9) translateY(20px);
    opacity: 0.8; }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1; } }
@keyframes catalog1 {
  0% {
    transform: translateX(1000px); }
  100% {
    transform: translate(0px); } }
@keyframes catalog2 {
  0% {
    transform: translateX(-1000px); }
  100% {
    transform: translate(0px); } }
/* Responsive Design */
@media (max-width: 1000px) {
  #landing-page #nav-bar {
    width: 300px; }

  #catalog-items-1 {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
